layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:/Users/ilove/Project/Zellij_zh_CN/target/wasm32-wasip1/release/zellij-cn-ui.wasm" {
                skip_plugin_cache true
                bar "tab"
            }
        }
        children
        pane size=2 borderless=true {
            plugin location="file:/Users/ilove/Project/Zellij_zh_CN/target/wasm32-wasip1/release/zellij-cn-ui.wasm" {
                skip_plugin_cache true
                bar "status"
            }
        }
    }
}
